<% include ../header-noback %>


<div class="container">

    <section>
      <h3>London</h3>
      <img src="\images\london\bridge.jpg" alt="">
      <p>
        <strong>Esta ciudad me enamora!!!</strong> Y es que cada ves que voy descubro que hay mil cosas nuevas por ver o hacer, no importa si llueve (lo más probable!) o si con suerte hace sol puedes aprovechar el día y caminar por toda la zona de “City of London” y empezar a cruzar los puentes que cruzan el Rio Thames, mi favorito “The Tower Bridge, siguiendo el “London Bridge” y también el “Millennium Bridge”. Recomiendo ir en Diciembre aunque hace mucho frio pero es increíble lo hermoso que la decoran, caminar toda la Oxford Street con el juego de luces es algo mágico. En Londrés siempre hay festivales, cuando fui durante Enero pude ver el Lumiere en varios sitios del centro, asi que recomiendo buscar en la web antes de llegar.
      </p>
    </section>

    <section>
      <h3>The Shard</h3>
      <img src="\images\london\london.jpg" alt="">
      <p>
        <strong>The shard,</strong> ubicado cerca de London Bridge, el rascacielos más alto de Londres ofrece unas vistas increíbles, yo recomiendo no dejar de subir de verdad vale la pena, se trata de un piso 72 imaginen!!! Yo pague aprox 35E por subir con una copa de champagne oh la la!</p>
    </section>

    <section>
      <h3>London Eye</h3>
      <img src="\images\london\londoni.jpg" alt="">
      <p>
        <strong>LONDON EYE, </strong>también conocida como La Rueda del Milenio, ofrece vistas hermosas de la ciudad ya que se trata de una noria de más de 135mts de altura. La primera vez subí en el 2012 y estaba lloviendo pero aun así disfrute mi journey y en el 2017 decidí tomar el paseo por el río Thames ya que hacia una día soleado de sueños londinenses.</p>
    </section>
    <section>
      <img src="\images\london\west.jpg" alt="">
      <h3>Westminster Abbey</h3>
      <p>
        <strong>WESTMINSTER ABBEY,</strong> ubicada en Westminster, esta iglesia gótica forma parte de la historia de la ciudad por lo que recomiendo caminar hasta allí porque está cerca de otros puntos de interés; reyes, reinas, soldados, poetas y hasta villanos hacen parte de su historia, lugar para las bodas reales!</p>
    </section>


    <section>
      <h3>Big Ben</h3>
      <img src="\images\london\big-ben.jpg" alt="">
      <p>
        <strong>BIG BEN, </strong> el famoso reloj de las Casas del Parlamento uno de los principales símbolos de la ciudad, se trata de un reloj con 7 metros de diámetro situado en una torre de 106mts de altura de un hermoso estilo gótico.</p>
    </section>

    <section>
      <h3>Buckingham Palace</h3>
      <img src="\images\london\buck.jpg" alt="">
      <p>
        <strong>BUCKINGHAM PALACE, </strong>se conoce como La Casa de la Reina, también puedes visitarlo mientras caminas por la zona de Westminster, es la residencia de la realeza, puedes ver el cambio de guardia (que debes verificar dependiendo de la temporada cada cuanto tiempo lo realizan).</p>
    </section>

    <section>
      <h3>Soho</h3>
      <img src="\images\london\soho1.jpg" alt="">
      <p>
        <strong>SOHO, </strong>de mis lugares favoritos sobretodo de noche, tienes por hacer un mundo de cosas, puedes comer desde un fondue 100% suizo hasta un ramen, teatros, clubs! Yo les puedo recomendar un buen DIM SUM en Ping Pong porque de verdad me encanto y también Bibimbap un delicioso BULGOGI y de postre un rico bubblewrap en BUBBLEWRAPLONDON. Mientras caminas por Soho también puedes recorrer China Town London!</p>
    </section>

    <section>
      <h3>Picadilly Circus</h3>
      <img src="\images\london\picad.jpg" alt="">
      <p>
        <strong>PICADILLY CIRCUS, </strong>es la plaza más famosa de Londres, con sus luces de neón de noche te harán vibrar! La fuente de Eros ubicada en el centro de esta, es punto de encuentro ya que tienen miles de cosas por hacer como ir de fiesta o de compras.</p>
    </section>

    <section>
      <h3>Camden Town</h3>
      <img src="\images\london\cam.jpg" alt="">
      <p>
        <strong>CAMDEN TOWN, </strong>es un barrio alternativo que siempre está lleno de turistas, recomiendo visitar de día, en su mercado vas a encontrar muchas tiendas de objetos poco comunes y también puestos de comida de todo el mundo, merece la pena ir a caminar un rato ya que es muy diferente a lo que la ciudad muestra.</p>
    </section>

    <section>
      <h3>Primrose Hill</h3>
      <img src="\images\london\prim-hill.jpg" alt="">
      <p>
        <strong>PRIMROSE HILL,</strong>localizada en Regent’s Park, es una colina de 65m que tiene una hermosa vista de Londres (si hace un día soleado ve corriendo!) y super relajante para escapar un poco de la cantidad de turistas que hay por la ciudad.
      </p>
    </section>












</div>
