<% include ../header-noback %>
<div class="container">
    <section>
      <h3>Nottingham</h3>
      <p>
        <strong>Nottingham, </strong>Say something about Nottingham</p>
    </section>
    <section>
      <img src="\images\nottingham\main.jpeg" alt="">
    </section>
    <section>
      <img src="\images\nottingham\market1.jpg" alt="">
    </section>
    <section>
      <h3>Lace Market</h3>
      <p>
        <strong> LACE MARKET, </strong>es en cuarto de milla donde podrás encontrar todas las cosas más interesantes de la ciudad, te recomiendo hospedarte por allí cerca para que puedas dejar el coche e ir andando a todos los sitios de interés.
      </p>
    </section>
    <section>
      <h3>Robin Hood</h3>
      <p>
        <strong>ROBIN HOOD, </strong>cuenta la leyenda que Robin le quitaba a los ricos para darle a los pobres, puedes encontrar el monumento en su honor justo antes de llegar al castillo donde te contarán un poco más de su vida.</p>
    </section>
    <section>
      <img src="\images\nottingham\robin1.jpg" alt="">
    </section>
    <section>
      <img src="\images\nottingham\castle.jpeg" alt="">
    </section>
    <section>
      <h3>Nottingham Castle</h3>
      <p>
        <strong>NOTTINGHAM CASTLE,</strong>conocido también como “Castle Rock” con acantilados de hasta 40m te ofrece la vista más espectacular para recorrer la ciudad, es hermoso lleno de jardines por todos sus costados y es interesante porque fue el punto de partida de la Guerra Civil Inglesa.
      </p>
    </section>
    <section>
      <h3>Ye olde trip to Jerusalem</h3>
      <p>
        <strong>YE OLDE TRIP TO JERUSALEM,</strong>al salir del castillo te recomiendo caminar hacia “the oldest inn in England” es el pub más antiguo de Inglaterra (aunque no hay fechas exactas, dicen que sobre el año 1189) a por un café o una caña mientras recorres sus grutas y sótanos encantados.</p>
    </section>
    <section>
      <img src="\images\nottingham\statue.jpeg" alt="">
    </section>
    <section>
      <img src="\images\nottingham\pic1.jpeg" alt="">
    </section>
    <section>
      <h3>Beeston Canal</h3>
      <p>
        <strong>BEESTON CANAL,</strong> recorriendo el río Trent este canal te lleva al corazón de la ciudad, super relax y hermoso paseo que está a unos minutos andando luego de salir del pub anterior.
      </p>
    </section>

    ¿Qué comer?

    BISTROT PIERRE: elegí la primera noche French Food, de verdad estuvo buenísima!
    <Tartes Flambée+tabla de quesos franceses+crème brulée>

    TURTLE BAY: la segunda noche aposté por sabor caribeño con cócteles delciosos, no dejen de ir!
    <Beef Patty+just jerk platter+mojitos> to
     share!

    BOILERMAKER: Si quieren algo diferente, con tragos muy graciosos como ‘Strong Gindependent Woman’o ‘Meditation Libation’ yo elegí “No Shrubs by QMC” con ron, papaya, uva, fruta de la pasión, limón, canela y no se imaginan donde lo sirven… precio average en el Reino Unido, unas 8 libras por trago!


</div>
