
<% include ../header-noback %>


<div class="container">

    <section>
      <h3>Suiza</h3>
      <img src="http://via.placeholder.com/350x400">
      <p>
        <strong>Oh Suiza! </strong>Desde niña soñaba ir a los Alpes Suizos y que mejor que ir en pleno febrero cuando la nieve cubre todas sus montañas y parece un cuento de hadas! Yo la pase increíble porque éramos 5 amigos y alquilamos un coche para recorrer lo más que pudiéramos y la verdad es que una semana es perfecta para recorrer este país que es pequeño pero tiene muchos lugares encantadores, pero eso si ES COSTOSO!!! Así que ten en cuenta que no es un destino lowcost pero merece la pena ir sin duda alguna es uno de esos viajes que no olvidare jamás!
      </p>
    </section>

    <section>
      <h3>Ginebra</h3>
      <img src="http://via.placeholder.com/350x400">
      <p>
        <strong>GINEBRA, </strong>cuando piensas en ginebra piensas en el reloj de flores y el jet de agua! Pues cuidado en invierno porque tuve la mala suerte de encontrar el jet d’eau (la fuente agua más grande y célebre de Suiza, alcanza unos 140m de altura) cerrado por el frio que hacia, de igual manera vas a caminar por todo el lago (Lac Genèva) que delimita Suiza al norte y Francia al sur; si el buen tiempo te acompaña tendrás la oportunidad de apreciar el Mont Blanc! El reloj de flores o L’horloge Fleuri du Jardin Anglais fué uno de mis lugares favoritos porque amo las flores y allí encontraras de todos colores, éstas fueron plantadas a mediados de los 50’s. La plaza de Bourg de Four ubicada en el casco antiguo, justo detrás de la Catedral de St. Pierre, donde tienes mil opciones como heladerías, chocolaterías y tiendas en general. Tomar un café en mi cafetería favorita Ladurèe, aunque sea más caro que en Paris, te aseguro que están muy ricos y te va a calentar un ratito mientras sigues tu recorrido.
      </p>
    </section>

    <section>
      <h3>Zurich</h3>
        <img src="http://via.placeholder.com/350x400">
      <p>
        <strong>ZURICH, </strong>la capital financiera y cultural de suiza, aquí vas a tener que practicar tu alemán! Esta ciudad destila bienestar por doquier, no en vano ha sido elegida varias veces como la ciudad con más calidad de vida del mundo. Empezamos el recorrido cogiendo el “RIGIBLICK” hacia la Univeridad donde estudio Eisntein ETH (quizá interesante para los que amamos la ciencia y si tienes tiempo suficiente); luego nos hemos ido andando hasta la estación de tren que nos llevaría hasta UETLIBERG, “la cima de Zurich”, una montaña desde donde se supone tienes las mejores vistas de la ciudad pero en nuestro caso, al ir en pleno invierno solo vimos nieve y cielo gris everywhere, por eso aprovechamos para hacer un mñeco de nieve! Pero sin duda una actividad muy suiza que debes hacer para respirar aire puro y adéntrarte en tan hermosa naturaleza. Luego de bajar nos hemos ido al casco histórico de la ciudad, repleto de Iglesias, galerías de arte, librerías, aprovechamos un break para tomarnos una rica caotina para calentarnos un poco. Seguimos andando hasta llegar a OPERNHOUSE, la Ópera de Zúrich, es uno de los auditorios más importantes de Europa inaugurado en 1981 y justo al frente encontramos el Lago Zúrich, donde te deleitas con tanta majestuosidad.
      </p>
    </section>

    <section>
      <h3>Berna</h3>
      <img src="http://via.placeholder.com/350x400">
      <p>
        <strong>BERNA, </strong>la capital de Suiza, Patrimonio de la Humanidad de UNESCO desde 1983, conserva su encanto medieval y es atravesada por el río Aare, donde lo primero que hicimos fue subir al ROSENGARTEN (jardín de rosas) que se encuentra sobre el BARENPARK (parque de osos) donde desafortunadamente no pudimos ver ninguno. Luego de tomarnos una foto con el gran Albert Einstein, descendemos de nuevo hacia el casco histórico donde hay miles de mercados donde podrás probar la comida típica, que no es de mis favoritas la verdad, aunque amé el queso y el chocolate obviamente! La Catedral de Berna es la construcción sacra más grande de Suiza, sencillamente majestuosa. Y por supuesto el lugar más famoso de Berna es el ZYTLOGGE o Torre del Reloj, es preciosooooo!!!! Se trata de un campanario y fué la primera puerta oeste de la ciudad de Berna, es una de las torres mas antiguas de la ciudad, justo el día que llegamos a Suiza comenzaron las obras de remodelación pero aun asi puedes verlo!
      </p>
    </section>

    <section>
      <h3>Lucerna</h3>
      <img src="http://via.placeholder.com/350x400">
      <p>
        <strong>LUCERNA, </strong>cuando llegamos nos recibió el carnaval, siii hacen una celebración increíble en el mes de febrero a pesar del frío que hace la gente se disfraza en grupos y salen por las calles de la ciudad con los niños a disfrutar, fue divertido llegar en ese momento lo que sí es que todo está cerrado y solo puedes caminar y pasear a ver los lugares más emblemáticos de esta hermosa ciudad medieval (mi favorita de este viaje sin duda!). El puente de la capilla sin duda una postal para el recuerdo y más en invierno con cielo gris, belleza inigualable, cruzarlo en medio de esta celebración fue maravilloso; si sigues andando llegas a la Iglesia de los Jesuitas (JESUITENKIRCHE).
      </p>
    </section>

    <section>
      <h3>Montreux</h3>
      <img src="http://via.placeholder.com/350x400">
      <p>
        <strong>MONTREUX, </strong>esta ciudad situada en la ribera septentrional del Lago Lemán y también rodeada de Alpes, aunque no tuve la dicha de verla de día debo decirles que me encantaría vivir allí, es espectacular!!! Con un gran paseo de flores junto al lago, un casino impresionante, sus calles vibrantes (y me dicen que en verano cuando se celebra el Jazz Festival es aún más increíble!), muchas de las casas a lo largo de la carretera recitan “La Belle Epoque”; por nada del mundo dejen de pasar por acá.
      </p>
    </section>

    <section>
      <h3>Basilea</h3>
      <img src="http://via.placeholder.com/350x400">
      <p>
        <strong>BASILEA, </strong>la ciudad con triple frontera Mulhouse (Francia) y Friburgo (Alemiania, donde fuimos a almorzar), cuenta con un sin número de museos, un centro histórico encantador, arquitectura moderna y el rio Rhein; predominan los adornos de arenisca roja que caracteriza a la ciudad universitaria más vieja de Suiza, fácil de recorrer a pie.
      </p>
    </section>

    <section>
      <h3>Basilea</h3>
      <img src="http://via.placeholder.com/350x400">
      <p>
        <strong>CHAMPÉRY, </strong>pequeña aldea situada a los pies de los “Dents-du-Midi”, es preciosa porque conserva el encanto de sus viejos chalets con balcones tallados de madera y está rodeado de Alpes, merece la pena tomar un par de horas para llegar.
      </p>
    </section>

    <section>
      <h3>Evian</h3>
      <img src="http://via.placeholder.com/350x400">
      <p>
        <strong>EVIAN, </strong>Aunque pertenece a Francia “Evian les Bains”, está muy muy cerca de Champéry y merece la pena ir a la fuente, donde la puedes coger gratis SI GRATIS!!! Vas a ver a los residentes de la zona llenando sus botellas, está situada en un parque muy lindo donde tienes hermosas vistas de la ciudad y está rodeada del lago Leman, el mismo que bordea Montreux.
      </p>
    </section>


</div><!--container-->
