  <div class="social-media">
    <h3>Social-Media</h3>
  <ul>
      <li><a href="#"><img src="\images\icons\insta.png"></a></li>
      <li><a href="#"><img  id="fb" src="\images\icons\fb.png"></a></li>
      <li><a href="#"><img src="\images\icons\twitter2.png"></a></li>
  </ul>
</div>
  <div id="insta-outer">
    <h3>Instragram</h2>
    <div class="insta-pic">    </div>
    <div class="insta-pic">    </div>
    <div class="insta-pic">    </div>
    <div class="insta-pic">    </div>
    <div class="insta-pic">    </div>
    <div class="insta-pic">    </div>
    <div class="insta-pic">    </div>
    <div class="insta-pic">    </div>
    <div class="insta-pic">    </div>
    <div class="insta-pic">    </div>
    <div class="insta-pic">    </div>
    <div class="insta-pic">    </div>

  </div>
