

    <h1>Instagram</h1>
    <div class="insta-pic"><a href="#" target="#"><img src="\images\instagram\palma.jpg"></a></div>
    <div class="insta-pic"><a href="#" target="#"><img src="\images\instagram\snow.jpg"></a></div>
    <div class="insta-pic"><a href="#" target="#"><img src="\images\instagram\snow2.jpg"></a></div>
    <div class="insta-pic"><a href="#" target="#"><img src="\images\instagram\jumper.jpg"></a></div>
    <div class="insta-pic"><a href="#" target="#"><img src="\images\instagram\paper.jpg"></a></div>
    <div class="insta-pic"><a href="#" target="#"><img src="\images\instagram\beach.jpg"></a></div>
