







<div class="row">
  <h1>Ciudades</h1>
</div>
  <div class="row blog-row">

    <div class="col-md-4">
      <div class="blogPosts">
            <div id="image-holder"><img src="\images\london.jpeg">
              <h2>London</h2>
            </div>
            <p> this is the text paragraphthis is the text paragraphthis is the text paragraphthis is the text paragraphthis is the text paragraph...<a href="/london">Read More</a></p>

      </div>
    </div>
    <div class="col-md-4">
      <div class="blogPosts">
            <div id="image-holder"><img src="\images\london.jpeg">
              <h2>Madurin</h2>
            </div>
            <p> this is the text paragraphthis is the text paragraphthis is the text paragraphthis is the text paragraphthis is the text paragraph...<a>Read More</a></p>

      </div>
    </div>
      <div class="col-md-4">
        <div class="blogPosts">
              <div id="image-holder"><img src="\images\sea.jpeg">
                <h2>Amsterdam</h2>
              </div>
              <p> this is the text paragraphthis is the text paragraphthis is the text paragraphthis is the text paragraphthis is the text paragraph...<a>Read More</a></p>

        </div>
  </div>
</div>

<!--food-->

<div class="row">
  <h1>Food</h1>
</div>
  <div class="row blog-row">

    <div class="col-md-4">
      <div class="blogPosts">
            <div id="image-holder"><img src="\images\food\coffee.jpeg">
              <h2>Coffee</h2>
            </div>
            <p> this is the text paragraphthis is the text paragraphthis is the text paragraphthis is the text paragraphthis is the text paragraph...<a>Read More</a></p>

      </div>
    </div>
    <div class="col-md-4">
      <div class="blogPosts">
            <div id="image-holder"><img src="\images\food\pizza.jpeg">
              <h2>pizza</h2>
            </div>
            <p> this is the text paragraphthis is the text paragraphthis is the text paragraphthis is the text paragraphthis is the text paragraph...<a>Read More</a></p>

      </div>
    </div>
      <div class="col-md-4">
        <div class="blogPosts">
              <div id="image-holder"><img src="\images\food\weird.jpeg">
                <h2>wtf</h2>
              </div>
              <p> this is the text paragraphthis is the text paragraphthis is the text paragraphthis is the text paragraphthis is the text paragraph...<a>Read More</a></p>

        </div>
  </div>
</div>
