
<div id="citys">
  <h1 id="citys-header">Citys</h1>
  <a class="buttons prev" href="#"><img src="\images\icons\left-arr.png" /></a>
  <div class="viewport">
    <ul class="overview">
      <!-- big -->
      <li class="images-big"><a href="#"><img id="left-arr"  src="\images\nottingham\lace.jpeg"></a></li>
      <li class="images-big"><a href="#"><img id="left-arr"  src="\images\nottingham\statue.jpeg"></a></li>
      <li class="images-big"><a href="#"><img id="left-arr"  src="\images\suiza\d9f25744-eb40-41d4-be2c-3593bab0bb2b.jpeg"></a></li>
      <li class="images-big"><a href="#"><img id="left-arr"  src="\images\suiza\IMG_1596.jpeg"></a></li>
      <li class="images-big"><a href="#"><img id="left-arr"  src="\images\london\bridge.jpg"></a></li>
      <li class="images-big"><a href="#"><img id="left-arr"  src="\images\london\london.jpg"></a></li>
    </ul>
  </div>
  <a class="buttons next" href="#"><img id="right-arr" src="\images\icons\right-arr.png" /></a>
</div>
