
<div id="citys">
  <h1 id="citys-header">Citys</h1>
  <a class="buttons prev" href="#"><img src="\images\icons\left-arr.png" /></a>
  <div class="viewport">
    <ul class="overview">
      <li><a href="https://placeholder.com"><img id="left-arr" src="http://via.placeholder.com/280x200"></a></li>
      <li><a href="https://placeholder.com"><img id="left-arr" src="http://via.placeholder.com/280x200"></a></li>
      <li><a href="https://placeholder.com"><img id="left-arr" src="http://via.placeholder.com/280x200"></a></li>
      <li><a href="https://placeholder.com"><img id="left-arr" src="http://via.placeholder.com/280x200"></a></li>
      <li><a href="https://placeholder.com"><img id="left-arr" src="http://via.placeholder.com/280x200"></a></li>
      <li><a href="https://placeholder.com"><img id="left-arr" src="http://via.placeholder.com/280x200"></a></li>
    </ul>
  </div>
  <a class="buttons next" href="#"><img id="right-arr" src="\images\icons\right-arr.png" /></a>
</div>
