
<div id="citys">
  <h1 id="citys-header">Ciudades</h1>
  <a class="buttons prev" href="#"><img src="\images\icons\left-arr.png" /></a>
  <div class="viewport">
    <ul class="overview">
      <!-- big -->
      <li class="images-big"><a href="#"><img id="left-arr"  src="\images\nottingham\lace.jpg"></a></li>
      <li class="images-big"><a href="#"><img id="left-arr"  src="\images\nottingham\statue.jpg"></a></li>
      <li class="images-big"><a href="#"><img id="left-arr"  src="\images\suiza\hen.jpg"></a></li>
      <li class="images-big"><a href="#"><img id="left-arr"  src="\images\suiza\pic1.jpg"></a></li>
      <li class="images-big"><a href="#"><img id="left-arr"  src="\images\london\bridge-cities.jpg"></a></li>
      <li class="images-big"><a href="#"><img id="left-arr"  src="\images\london\oxford-cities.jpg"></a></li>
    </ul>
  </div>
  <a class="buttons next" href="#"><img id="right-arr" src="\images\icons\right-arr.png" /></a>
</div>
