<form action="/" method="post">
  <h1 id="contact">My Contact Information</h1>
  <div>
    <h4>Name</h4>
    <input type="text" name="name" >
  </div>
  <div>
    <h4>Email</h4>
    <input type="text" name="email" >
    <div>
      <h4>Message</h4>
      <textarea type="text" name="message" ></textarea>
    </div>
  </div>
  <input type="submit" value="Submit">
</form>
