<ul>
    <li>
      <a href="https://www.instagram.com/berenjenaviajera/" target="#">
        <img src="\images\icons\insta.png">
        <span><i>@berenjenaviajera</i></span>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/Berenjena-Viajera-241968683034358/?hc_ref=ARREFmAb6u9t4Q9hmb_EgizkA5aWGQyOUIH0gsurnjaK-Pd6lsBW6uOrwUN9Q__M52Q&fref=nf" target="#"><img src="\images\icons\fb.png">
        <span><i>@berenjena viajera</i></span>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/berenjenaviaje" target="#"><img src="\images\icons\twitter2.png">
        <span><i>@berenjenaviaje</i></span>
      </a>
    </li>
</ul>
<div>
<img class="ber-bottom" src="\images\logo.png">
</div>
<small>&copy; Blog de Yhynezka, Copyright 2018, diseñado por Ronan Greally</small>
