
<div class="header">
  <!-- id header: only background image and image -->
  <div id="header">
    <!-- <img class="background-image" src="\images\sea11.png"> -->
    <img class="ber" src="\images\logo.png">
  </div>

  <!-- nav -->
  <div class="topnav" id="myTopnav">
    <a><img class="es" src="\images\icons\es.png"><img class="usa" src="\images\icons\usa.png"></a>
    <div class="dropdown">
      <button class="dropbtn">Blog Posts
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">-London-</a>
        <a href="#">-Nottingham-</a>
        <a href="#">-Suiza-</a>
        <a href="#">-Belgica-</a>
      </div>
    </div>
    <a href="#news">Ciudades</a>
    <a href="#contact">Restaurantes</a>

    <a href="#about">Contactos</a>
    <a href="#" class="icon">&#9776;</a>
  </div>

</div>
