<div class="header">

  <!-- nav -->
  <div class="topnav" id="myTopnav">
    <a id="lang"><img class="es" src="\images\icons\es.png"><img class="usa" src="\images\icons\usa.png"></a>
    <div class="dropdown">
      <button class="dropbtn">Blog Posts
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/page-blog/london">-London-</a>
        <a href="/page-blog/nottingham">-Nottingham-</a>
        <a href="/page-blog/switzerland">-Suiza-</a>
        <a href="/page-blog/belgium">-Belgica-</a>
      </div>
    </div>
    <a href="/#citys">Ciudades</a>
    <a href="/#rests">Restaurantes</a>

    <a href="/#contact">Contacto</a>
    <a href="#" class="icon">&#9776;</a>
  </div>

</div>
