
<div class="header">
  <!-- nav -->

  <div class="nav">
    <a id="lang"><img class="es" src="\images\icons\es.png"><img class="usa" src="\images\icons\usa.png"></a>
    <ul class="main-menu">
        <li><a id="home" href="/">Home</a>

      </li>
      </li>
      <li>Viajes
        <ul class="sub-menu">
          <a href="/page-blog/london"><li>-London-</li></a>
          <a href="/page-blog/nottingham"><li>-Nottingham-</li></a>
          <a href="/page-blog/switzerland"><li>-Suiza-</li></a>
          <a href="/page-blog/belgium"><li>-Belgica-</li> </a>
        </ul>
      </li>
      <li>Restaurantes
        <ul class="sub-menu">
          <a href="/rests/gastromaquia"><li>-Gastromaquia-</li></a>
          <a href="/rests/jagger"><li>-Jagger-</li></a>
        </ul>
      </li>
      <li>Contacto
        <ul class="sub-menu">
          <a href="/#contact"><li>-Envíame un mensaje-</li></a>
          <a href="/info"><li>-Mis datos-</li></a>
        </ul>
      </li>
      <li>Más
        <ul class="sub-menu">
          <a href="#"><li>-Videos-</li></a>
          <a href="#"><li>-More-</li></a>
        </ul>
      </li>
    </ul>
    <a href="#" class="icon">&#9776;</a>
  </div>



</div>
