<div class="grid-container">
  <% if (success){%>
    <div style="position:absolute;right:50%;">
  <% } %>
  <!-- <input id="12" type ="checkbox" style="position:absolute;z-index:12;"/> -->
  <div id="outline">
    <p>1</p>
    <p>2</p>
    <p>3</p>
    <p>4</p>
    <p>5</p>
    <p>6</p>
    <p>7</p>
    <p>8</p>
    <p>9</p>
    <p>10</p>
    <p>11</p>
    <p>12</p>

  </div>

    <% include header %>
  <div class="recentBlog">
    <% include recentBlog %>
  </div>
  <div class="aside">
    <% include aside %>
  </div>
  <div class="citys">
    <% include citys %>
  </div>
  <div class="rests">
    <% include rests %>
  </div>
  <div class="contact">
    <% include contact %>
  </div>
  <div class="footer">
    <% include footer %>
  </div>
</div>
