<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="\stylesheets\css\main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Courgette|Dancing+Script|Kavivanar|Patua+One|Yanone+Kaffeesatz" rel="stylesheet">
    <script src="\dist\ugly.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yneska's Blog</title>
    <link rel="shortcut icon" type="image/png" href="\images\logo.png"/>
  <!-- slider -->
  <script src="\javascripts\slider.min.js"></script>
<!--tiny carousel-->

<script src="\javascripts\tinycarousel.js"></script>
<!-- myjs -->
<script src="\javascripts\myscript.js"></script>
<script src="\javascripts\comments.js"></script>

    <title>title</title>
  </head>
  <body>




    <%-body%>

  </body>
  <script>

  </script>
</html>
