<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="\stylesheets\css\main.css">
    <link async href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <script src="\javascripts\jquery.js"></script>

  <!-- slider -->
  <script src="\javascripts\slider.min.js"></script>
<!--tiny carousel-->

<script src="\javascripts\tinycarousel.js"></script>
<!-- myjs -->
<script src="\javascripts\myscript.js"></script>

    <title>title</title>
  </head>
  <body>




    <%-body%>

  </body>
  <script>

  </script>
</html>
