<h1>Latest Blog</h1>
<ul class="rslides">
  <li><img src="\images\boat.jpeg" alt="">
    <p> Un viaje inolvidable a Londres, haz click para <a href="/london">leer mas</a></p>
  </li>
<li><img src="\images\london.jpeg" alt="">
  <p> Un viaje inolvidable a Londres, haz click para <a href="/london">leer mas</a></p>
</li>
<li><img src="\images\footie.jpg" alt="">
  <p> Un viaje inolvidable a Londres, haz click para <a href="/london">leer mas</a></p>
</li>

</ul>







  <!-- <ul class="rslides">
    <li><img src="\images\boat.jpeg" alt="">
      <p> this is the text paragraphthis is the text paragraphthis is the text paragraphthis is the text paragraphthis is the text paragraph...<a href="/london">Read More</a></p>
    </li>
    <li><img src="\images\boat.jpeg" alt="">
      <p> this is the text paragraphthis is the text paragraphthis is the text paragraphthis is the text paragraphthis is the text paragraph...<a href="/london">Read More</a></p>
    </li>
    <li><img src="\images\boat.jpeg" alt="">
      <p> this is the text paragraphthis is the text paragraphthis is the text paragraphthis is the text paragraphthis is the text paragraph...<a href="/london">Read More</a></p>
    </li>
    <h3>London</h3>



  </ul> -->
