<div class="Rb-outer">
  <h1>Último Blog</h1>
  <ul class="rslides">
    <li><img src="\images\london\bridge.jpg" alt="">
      <p> Una ciudad que enamora, haz click para <a href="/london">leer mas</a></p>
    </li>
  <li><img src="\images\london\london.jpg" alt="">
    <p> Una ciudad que enamora, haz click para <a href="/london">leer mas</a></p>
  </li>
  <li><img src="\images\london\prim-hill.jpg" alt="">
    <p> Una ciudad que enamora, haz click para <a href="/suiza">leer mas</a></p>
  </li>

  </ul>
</div>
