
<div class="Rb-outer">
  <h1>Último Blog</h1>
  <ul class="rslides">
    <li><img src="\images\london\bridge.jpg" alt="">
        <a href="/page-blog/london"><p> Una ciudad que enamora!!!</p></a>
    </li>
  <li><img src="\images\london\london.jpg" alt="">
    <a href="/page-blog/london"><p> Una ciudad que enamora!!!</p></a>
  </li>
  <li><img src="\images\london\prim-hill.jpg" alt="">
    <a href="/page-blog/london"><p> Una ciudad que enamora!!!</p></a>
  </li>

  </ul>


</div>
