<h1>Último Blog</h1>
<ul class="rslides">
  <li><img src="\images\london\bridge.jpeg" alt="">
    <p> Un viaje inolvidable a Londres, haz click para <a href="/london">leer mas</a></p>
  </li>
<li><img src="\images\nottingham\statue.jpeg" alt="">
  <p> Un viaje inolvidable a Nottingham, haz click para <a href="/nottingham">leer mas</a></p>
</li>
<li><img src="\images\suiza\house.jpeg" alt="">
  <p> Un viaje inolvidable a Suiza, haz click para <a href="/suiza">leer mas</a></p>
</li>

</ul>







  <!-- <ul class="rslides">
    <li><img src="\images\boat.jpeg" alt="">
      <p> this is the text paragraphthis is the text paragraphthis is the text paragraphthis is the text paragraphthis is the text paragraph...<a href="/london">Read More</a></p>
    </li>
    <li><img src="\images\boat.jpeg" alt="">
      <p> this is the text paragraphthis is the text paragraphthis is the text paragraphthis is the text paragraphthis is the text paragraph...<a href="/london">Read More</a></p>
    </li>
    <li><img src="\images\boat.jpeg" alt="">
      <p> this is the text paragraphthis is the text paragraphthis is the text paragraphthis is the text paragraphthis is the text paragraph...<a href="/london">Read More</a></p>
    </li>
    <h3>London</h3>



  </ul> -->
