
<div id="rests">
  <h1 id="rests-header">Restaurants</h1>
  <a class="buttons prev" href="#"><img src="\images\icons\left-arr.png" /></a>
  <div class="viewport">
    <ul class="overview">
      <!-- big -->
      <li class="images-big" ><a href="#"><img id="left-arr"  src="\images\rests\gastromaquia\gastromaquia-index\gas1.jpg"></a></li>
      <li class="images-big" ><a href="#"><img id="left-arr"  src="\images\rests\gastromaquia\gastromaquia-index\gas2.jpg"></a></li>
      <li class="images-big" ><a href="#"><img id="left-arr"  src="\images\rests\gastromaquia\gastromaquia-index\gas4.jpg"></a></li>
      <li class="images-big" ><a href="#"><img id="left-arr"  src="\images\rests\gastromaquia\gastromaquia-index\pizza.jpg"></a></li>
    </ul>
  </div>
  <a class="buttons next" href="#"><img id="right-arr" src="\images\icons\right-arr.png" /></a>
</div>

<div class="comments">
  <h3>Leave a comment below</h3>

</div>
