
<div id="rests">
  <h1 id="rests-header">Restaurants</h1>
  <a class="buttons prev" href="#"><img src="\images\icons\left-arr.png" /></a>
  <div class="viewport">
    <ul class="overview">
      <!-- big -->
      <li class="images-big" ><a href="#"><img id="left-arr"  src="\images\rests\pic2.jpeg"></a></li>
      <li class="images-big" ><a href="#"><img id="left-arr"  src="\images\rests\weird-s.jpg"></a></li>
      <li class="images-big" ><a href="#"><img id="left-arr"  src="\images\rests\pizza.jpeg"></a></li>
      <li class="images-big" ><a href="#"><img id="left-arr"  src="\images\rests\canalbar.jpeg"></a></li>
    </ul>
  </div>
  <a class="buttons next" href="#"><img id="right-arr" src="\images\icons\right-arr.png" /></a>
</div>
