
<div id="rests">
  <h1 id="rests-header">Restaurants</h1>
  <a class="buttons prev" href="#"><img src="\images\icons\left-arr.png" /></a>
  <div class="viewport">
    <ul class="overview">
      <!-- big -->
      <li class="images-big" ><a href="https://placeholder.com"><img id="left-arr"  src="http://via.placeholder.com/280x200"></a></li>
      <li class="images-big"><a href="https://placeholder.com"><img id="left-arr"  src="http://via.placeholder.com/280x200"></a></li>
      <li class="images-big"><a href="https://placeholder.com"><img id="left-arr"  src="http://via.placeholder.com/280x200"></a></li>
      <li class="images-big"><a href="https://placeholder.com"><img id="left-arr"  src="http://via.placeholder.com/280x200"></a></li>
      <li class="images-big"><a href="https://placeholder.com"><img id="left-arr"  src="http://via.placeholder.com/280x200"></a></li>
      <li class="images-big"><a href="https://placeholder.com"><img id="left-arr"  src="http://via.placeholder.com/280x200"></a></li>
      <!-- small -->
      <li class="images-small"><a href="https://placeholder.com"><img id="left-arr"  src="\images\food\pizza.jpeg"></a></li>
      <li class="images-small"><a href="https://placeholder.com"><img id="left-arr"  src="\images\food\canalbar.jpeg"></a></li>
      <li class="images-small"><a href="https://placeholder.com"><img id="left-arr"  src="http://via.placeholder.com/109x170"></a></li>
      <li class="images-small"><a href="https://placeholder.com"><img id="left-arr"  src="http://via.placeholder.com/109x170"></a></li>
      <li class="images-small"><a href="https://placeholder.com"><img id="left-arr"  src="http://via.placeholder.com/109x170"></a></li>
    </ul>
  </div>
  <a class="buttons next" href="#"><img id="right-arr" src="\images\icons\right-arr.png" /></a>
</div>
