<% include ../header-noback %>
<div class="container">
  <div>
    <section>
      <h3>Nottingham</h3>
      <img src="\images\nottingham\main.jpg" alt="">
      <p>  La ciudad de <strong>"Robin Hood"</strong></p>
    </section>

    <section>
      <h3>Lace Market</h3>
      <img src="\images\nottingham\lace.jpg" alt="">
      <p>
        Es en cuarto de milla donde podrás encontrar todas las cosas más interesantes de la ciudad, te recomiendo hospedarte por allí cerca para que puedas dejar el coche e ir andando a todos los sitios de interés.
      </p>
    </section>

    <section>
      <h3>Robin Hood</h3>
      <img src="\images\nottingham\robin1.jpg" alt="">
      <p>
        Cuenta la leyenda que Robin le quitaba a los ricos para darle a los pobres, puedes encontrar el monumento en su honor justo antes de llegar al castillo donde te contarán un poco más de su vida.</p>
    </section>

    <section>
      <h3>Nottingham Castle</h3>
      <img src="\images\nottingham\castle.jpg" alt="">
      <p>
        Conocido también como “Castle Rock” con acantilados de hasta 40m te ofrece la vista más espectacular para recorrer la ciudad, es hermoso lleno de jardines por todos sus costados y es interesante porque fue el punto de partida de la Guerra Civil Inglesa.
      </p>
      <img src="\images\nottingham\castle1.jpg" alt="">
      <img src="\images\nottingham\castle3.jpg" alt="">
      <img src="\images\nottingham\castle4.jpg" alt="">
    </section>

    <section>
      <h3>Ye olde trip to Jerusalem</h3>
      <img src="\images\nottingham\yeold1.jpg" alt="">
      <p>
        Al salir del castillo te recomiendo caminar hacia “the oldest inn in England” es el pub más antiguo de Inglaterra (aunque no hay fechas exactas, dicen que sobre el año 1189) a por un café o una caña mientras recorres sus grutas y sótanos encantados.</p>
        <img src="\images\nottingham\yeold2.jpg" alt="">
        <img src="\images\nottingham\yeold3.jpg" alt="">
    </section>

    <section>
      <h3>Beeston Canal</h3>
      <img src="\images\nottingham\canal.jpg" alt="">
      <p>
        Recorriendo el río Trent este canal te lleva al corazón de la ciudad, super relax y hermoso paseo que está a unos minutos andando luego de salir del pub anterior.
      </p>
      <img src="\images\nottingham\canal1.jpg" alt="">
    </section>


    <section><h2>¿Qué comer?</h2></section>

      <section>
        <h3>Bistrot Pierre</h3>
        <img src="\images\nottingham\bistro.jpg" alt="">
        <p>
          Elegí la primera noche French Food, de verdad estuvo buenísima!
        <br>
          <strong>&lt;Tartes Flambée+tabla de quesos franceses+crème brulée&gt;</strong>
        </p>
        <img src="\images\nottingham\bistro2.jpg" alt="">
        <img src="\images\nottingham\bistro3.jpg" alt="">
        <img src="\images\nottingham\bistro4.jpg" alt="">
        <img src="\images\nottingham\bistro5.jpg" alt="">
      </section>

      <section>
        <h3>Turtle Bay</h3>
        <img src="\images\nottingham\turtlebay.jpg" alt="">
        <p>
          La segunda noche aposté por sabor caribeño con cócteles delciosos, no dejen de ir!
        <br>
          <strong>&lt;Beef Patty+just jerk platter+mojitos&gt;to
           share!</strong>
        </p>
      </section>


      <section>
        <h3>Boilmaker</h3>
        <img src="\images\nottingham\boil.jpg" alt="">

        <p>
          Si quieren algo diferente, con tragos muy graciosos como ‘Strong Gindependent Woman’o ‘Meditation Libation’ yo elegí “No Shrubs by QMC” con ron, papaya, uva, fruta de la pasión, limón, canela y no se imaginan donde lo sirven… precio average en el Reino Unido, unas 8 libras por trago!
        </p>
        <img src="\images\nottingham\boil2.jpg" alt="">
        <img src="\images\nottingham\boil1.jpg" alt="">
      </section>






</div><!--continaer -->
