body {
  margin: 0px;
  background-color: $greyback;
 // font-family: 'Rancho', cursive;
font-family: 'Courgette', cursive;

box-sizing: border-box;
}

.Rb-outer, .social-media,#citys, #rests{
  background-color: #fff;

}

P{
  font-weight: 600;
  font-size: 20px;
  margin: 0px 0px;
}


//Restaurants h1
h1{
 margin: 0px;
 padding: 21px 0px;
font-size: 26px;

}
//instagram and social media
h3{

}

a{
  color:black;
}

//mobile
@media only screen and (max-width: 768px) {
h1,h2,h3{
  font-size: 40px;
  background-color: #fff;
}
}

//mobile S
@media only screen and (max-width: 576px) {

  h1,h2,h3{
    font-size: 29px;
  }

}//query
