body {
  //font-family: 'Kalam', cursive;
  background-color: #fff;
font-family: 'Great Vibes', cursive;
margin: 0px;
box-sizing: border-box;
}
P{
  font-weight: 600;
  font-size: 25px;
  margin: 0px 0px;
}


//Restaurants h1
h1{
 margin: 0px;
 padding: 21px 0px;


}
//instagram and social media
h3{

}

a{
  color:black;
}

//mobile
@media only screen and (max-width: 768px) {
h1,h2,h3{
  font-size: 40px;
}
}

//mobile S
@media only screen and (max-width: 576px) {

  h1,h2,h3{
    font-size: 29px;
  }

}//query
