
<% include ../header-noback %>


<div class="container">

    <section>
      <h3>Gastromaquia</h3>
      <img src="\images\rests\gastromaquia\gastromaquia-page\gas.jpg" alt="">
      <p>
        <strong>Gastromaquia definición:</strong> dicese del lugar donde la gente ama comer. Es lo que miras al abrir el menu de este restaurante y ya sabia que iba a estar bueno. Ubicado en el barrio de chueca, pleno centro de madrid capital, gastromaquia te va a seducir con su comida fusión mediterranea-latina (diganme si ya con eso no fue suficiente?), en su espacio cálido y acojedor, con una variedad de platos para todos los gustos y atendido por gente super especial que te hace sentir mega confortable.
      </p>
        <img src="\images\rests\gastromaquia\gastromaquia-page\gas2.jpg" alt="">
      <img src="\images\rests\gastromaquia\gastromaquia-page\gas1.jpg" alt="">
      <p>
        Arroz negro, es un arroz meloso con chipirones crocantes y emulsión de ají amarillo, yum! Ese típico arroz negro que siempre gusta pero con ese toque un poco picante que a mi no me puede faltar en la comida.
      </p>
      <img src="\images\rests\gastromaquia\gastromaquia-page\gas5.jpg" alt="">
      <p>
        Berenjenas crocantes, gratinadas en pomodoro de la casa, mis favoritas!!!! Hasta ahora no he probado unas mas ricas en todo madrid lo juro! El contraste de lo crocante con lo suave del queso y la salsa pomodoro esta de 10.

        Y por si no lo sabian su tarta de queso la han nombrado "La mejor tarta de queso del mundo" asi que no podeis dejar de probarla.
      </p>
      <img src="\images\rests\gastromaquia\gastromaquia-page\gas4.jpg" alt="">
      <p>
      En fin, genial comparando precio-calidad-porciones, ubicación
      </p>
    </section>

    <!-- <div class="comments">
      <form onsubmit="alert('stop submit'); return false;" method="post" action="/rests/gastromaquia">
      <h3>Dejame un comentario abajo</h3>
      <div id="success"><i>Mil gracias por tu comentario!</i></div>
      <div class="comments">

        <% comments.forEach(function(comment){ %>

            <ul>
          <li> <%= comment.comment %> </li>

        </ul>
        <% }); %>

       </div>
      <textarea id="comment" name="comment"></textarea><br>
      <button id="submitComment">Submit</button>
    </form>
    </div> -->

</div>
