

<% include ../header-noback %>


<div class="container">

    <section>
      <h3>Gastromaquia</h3>
      <img src="\images\rests\gastromaquia\gastromaquia-page\gas1.jpg" alt="">
      <p>
        <strong>Gastromaquia!!!</strong>BERENJENAS CROCANTES, GRATINADAS EN POMODORO DE LA CASA, MIS FAVORITAS!!!! HASTA AHORA NO HE PROBADO UNAS MAS RICAS EN TODO MADRID LO JURO! EL CONTRASTE DE LO CROCANTE CON LO SUAVE DEL QUESO Y LA SALSA POMODORO ESTA DE 10.
      </p>
      <img src="\images\rests\gastromaquia\gastromaquia-page\gas3.jpg" alt="">
      <p>
        ARROZ NEGRO, ES UN ARROZ MELOSO CON CHIPIRONES CROCANTES Y EMULSIÓN DE AJÍ AMARILLO, YUM! ESE TÍPICO ARROZ NEGRO QUE SIEMPRE GUSTA PERO CON ESE TOQUE UN POCO PICANTE QUE A MI NO ME PUEDE FALTAR EN LA COMIDA.
      </p>
      <img src="\images\rests\gastromaquia\gastromaquia-page\gas2.jpeg" alt="">
      <p>
        Y POR SI NO LO SABIAN SU TARTA DE QUESO LA HAN NOMBRADO "LA MEJOR TARTA DE QUESO DEL MUNDO" ASI QUE NO PODEIS DEJAR DE PROBARLA.
      </p>
      <p>
        EN FIN, GENIAL COMPARANDO PRECIO-CALIDAD-PORCIONES, UBICACIÓN
      </p>
    </section>

    <div class="comments">
      <form>
      <h3>Dejame un comentario abajo</h3>
      <div class="comments">Comment Comment Comment Comment Comment Comment Comment Comment Comment </div>
      <textarea></textarea><br>
      <button>Submit</button>
    </form>
    </div>

</div>
