<% include ../header-noback %>


<div class="container">

    <section>
      <h3>Jagger</h3>
      <img src="\images\rests\jagger\main.jpg" alt="">
      <p>
        <strong>-El lema de este restaurante es ~Cocina Sincera~ y creo que no hay mejor descripci贸n!:</strong> dicese del lugar donde la gente ama comer. Es lo que miras al abrir el menu de este restaurante y ya sabia que iba a estar bueno. Ubicado en el barrio de chueca, pleno centro de madrid capital, gastromaquia te va a seducir con su comida fusi贸n mediterranea-latina (diganme si ya con eso no fue suficiente?), en su espacio c谩lido y acojedor, con una variedad de platos para todos los gustos y atendido por gente super especial que te hace sentir mega confortable.
      </p>
      <img src="\images\rests\jagger\Segunda-foto.jpg" alt="">
      <p>
      Desde que entras te vas a encontrar con un ambiente muy c谩lido, una m煤sica so unique (rock suave de los 90s) y a Ignacio, el el crack creador de todos estos platos que les presento a continuaci贸n, con su cocina sincera nos lleg贸  coraz贸n y es que este lugar definitivamente est谩 en mi TOP TEN!!!!!!!.
      </p>
      <p style="text-align:left;">
        <img src="\images\rests\jagger\Puerros.jpg" alt="">
      <i>-ｏPuerros braseados con salsa romesco y aceite de su ceniza</i><br><br>
        <img src="\images\rests\jagger\Cocochas.jpg" alt="">
      <i>-ｏCocochas de bacalao a la Romana sobre pur茅 de guisantes y mahonesa de kimchie.</i><br><br>
        <img src="\images\rests\jagger\Bocata-calamares.jpg" alt="">
      <i>-ｏBocata de calamares (si es un bocata!) en orly de si propia tinta y alioli de ajo asado y miel.</i><br><br>
        <img src="\images\rests\jagger\Esparragos-blancos.jpg" alt="">
      <i>-ｏEsp谩rragos blancos en su salsa con almendras.</i><br><br>
        <img src="\images\rests\jagger\Caballa.jpg" alt="">
      <i>-ｏCaballa marinada con tomate rosa de barbastro y crema de mejillones.</i><br><br>
        <img src="\images\rests\jagger\Secreto-iberico.jpg" alt="">
    <i>-  ｏSecreto iberico con salsa de vainilla y semillas de amapola (para morirse!!!!)</i>
    </p>
    <img src="\images\rests\jagger\Kurut.jpg" alt="">
      <p>
      Y de postre... Kurut, leche quemada, fruta de temporada y aove!
      </p>
      <img src="\images\rests\jagger\Tarta-de-queso.jpg" alt="">
      <p>
        Tarta de queso Stilton (mi tarta favorita!!!)

      </p>
      <img src="\images\rests\jagger\Foto-final.jpg" alt="">
      <p>
        Cabe destacar que Ignacio cambia la carta por temporadas y/o d铆as especiales como fue San Isidro en Madrid, pero sin duda no dejar谩n de sorprender los platos y la comparaci贸n calidad-precio incre铆ble!

      </p>
      <p>  No dejes de ir </p>







    </section>


</div>
