///social incons
.social-media{
  width: 100%;
  box-shadow: 0px 0px 10px lightgrey;
  margin-top: 20px;
  padding: 10px 0px;
  h3{
    // margin-top: 28px;

  }
  ul{

    list-style: none;
    padding: 0px;
  }
}


#fb{
  margin: 0px 12px;
}
//instagram photos
#insta-outer{
  background-color: #fff;
  margin-top: 44px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 10px lightgrey;
  h3{
    padding-top: 15px;
  }

  // width: 230px;

  .insta-pic{
    width: 100px;
    height: 133px;
    padding: 5px;
    display: inline-block;
    border: 1px solid lightgrey;
    margin: 4px 0px;
    img{
      height: 100%;
      width: 100%;
    }
  }


}
@media only screen and (max-width: 768px) {
  #insta-outer{
    margin-bottom: 50px;
    box-shadow: 0px 0px 10px lightgrey;
  }

  #insta{
    margin-left: 39px;
  }
  .social-media{
    margin: auto;
    width: 400px;
    ul{
      li{
        display: inline-block;
      }
    }


  }
}//query


//mobile S
@media only screen and (max-width: 576px) {
  .social-media{
    width: 100%;
  }
  #insta{
    margin-left: 39px;
  }

}//query
