.footer{
  background: linear-gradient(white, lightblue);
  ul{
    list-style: none;
    padding: 0px;
    li{
      display: inline-block;
    }
  }
  img{
    height: 50px;
    width: 50px;
    padding-right: 14px;
  }
}
