//desktop
@media only screen and (min-width: 768px) {
.grid-container {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(6,minmax(150px,auto));
  text-align: center;

  position: relative;
}
.grid-container > div {


}

.header{
  grid-column: 1 / 13;
}

.recentBlog{
  grid-column: 2 / 9;
  // background-color: $greyback;

}
.aside{
  grid-column: 10/ 12;
  grid-row: 2/ 3;
  // background-color: $greyback;
}
.citys{
  grid-column: 2 / 12;
  border: $greyback;
}
.rests{
  grid-column: 2 /12;

}
.contact{
  grid-column: 1 / 13;
  text-align: start;
}
.footer{
  grid-column: 1 / 13;
  background-color: darkgrey;
}


}//end desktop

//mobile default

@media only screen and (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,minmax(auto,auto));
    text-align: center;
    margin: 0px 25px;
    position: relative;
  }
  .grid-container > div {
    margin: 0px 5px;

  }

  .header{
    grid-column: 1 / 13;
  }

  .recentBlog{
    grid-column: 1 / 13;

  }
  .aside{
    grid-column: 1/ 13;
  margin: 5px 0px !important;

    border-top: $greyborder;
    border-bottom: $greyborder;
  }
  .citys{
    grid-column: 1 / 13;

  }
  .rests{
    grid-column: 1 / 13;

  }
  .contact{
    grid-column: 1 / 13;
    text-align: start;
  }
  .footer{
    grid-column: 1 / 13;
    background-color: darkgrey;
  }




}//query

#outline{
  display: none;
  position: absolute;
  top:0;
  left: 0;
  grid-template-columns: repeat(12,1fr);
  grid-auto-rows: minmax(100%, auto);
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 0;

}
#outline p {
  border: solid;
    background: grey;
    margin: 0;
    border-right: solid;
    z-index: 10;
    /* border: black; */
    opacity: 0.2;
}
.outDisplay{
  display: grid !important;
}
