

/*nav style*/
.nav{
  border-top: 1px solid #fafafa;
  text-align: center;
    padding: 0px 0px;
}

.main-menu{
  margin:0;
}

.main-menu > li {
  display: inline-block;
  padding: 10px 20px;
  margin-left: 10px;
  border-left: 2px solid #fff;
  width: 175px;
    color:black;
  font-size: 16px;
  transition:0.5s;
  a{
    text-decoration: none;
  }
}

.sub-menu{
  background: rgba(255,255,255,0.7);
  list-style-type: none;
  display: none;
  font-size: 14px;
  position:absolute;
  border: 1px solid white;
  margin-top: 11px;
  padding-left: 0px;
  width: 175px;
  text-align:left;
  box-shadow: 1px 1px 1px grey;
  z-index: 10;
}
.sub-menu>li{
  padding:10px;
  background: #37f;


}

.sub-menu{
  a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-bottom: $greyborder;
    &:hover{

    }
  }

  li{
    padding: 10px 10px;
      text-align: center;

  }
}

.main-menu li:hover{
  background: $greyback;
  cursor: pointer;
   text-shadow: 1px 1px 1px black;
}


.icon{
  display:none;
  text-align: right;
  padding: 5px 12px 5px 0px;
}

@media screen and (max-width: 1224px) {
  .main-menu{
    display:none;
  }

  .icon{
  display:block;
  text-decoration: none;
  padding: 12px;
}
  .main-menu li {
  display: block;
  margin:auto;
    border-left: none;
    border-bottom: 2px solid #fff;

}
.main-menu li:hover{
  background: transparent;
  color: black;
   text-shadow: 1px 1px 1px white;
}
  .sub-menu{
  list-style-type: none;
  display: none;
  position:relative;
    width:100%;
    padding-left: 0px;
}
}
.sub-menu li {

  border-bottom: none;
  &:hover{
    background: $greyback;
    cursor: pointer;
     text-shadow: 1px 1px 1px black;
     border: $greyborder;
  }
}


//flags
.es{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.usa{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
#lang{
  img{
    float: left;
    padding: 13px 0px 0px 4px;
  }
}
#lang:hover{
  background: linear-gradient(white,lightblue);
}
