
/*
http://ontheroadleblog.com/
http://gontraveler.com/
*/
.recentBlog{
  margin-top: 20px;
    border: $greyborder;
    background: #fff;

  h1{
    padding-bottom: 0px;
    margin-bottom: 11px;

  }
}

.rslides {

  position: relative;
  list-style: none;
  overflow: hidden;
  padding: 0;
   margin-top: 33px;
  li {
   -webkit-backface-visibility: hidden;
   position: absolute;
   display: none;
   width: 100%;
   left: 0;
   top: 0;

   }
   li:first-child {
     position: relative;
     display: block;
     float: left;
     }
     img {
      display: block;
      height: auto;
      float: left;
      width: 100%;
      border: 0;


      }
      p{
        background-color: #fff;
      opacity: 0.5;
      padding: 7px;
      position: absolute;
      top: 15%;
      border-radius: 2%;
      left: 35%;
           max-width: 215px;
      color: black;
      font-size: 40px;
      font-weight: 600;
      font-size: 25px;
      margin: 0px 0px;
      }
      #hazClick{
        font-size: 12px;
      }
  }





@media only screen and (max-width: 768px) {

  .recentBlog{
    h1{
      margin-top: 41px;
      padding-top: 10px;
    }
    .rslides p{
        left: 23%;
    }

  .rslides img{
    height: 405px;
  }
  }//recent blog

}//query



//mobile S
@media only screen and (max-width: 576px) {
.recentBlog{
  // .rslides p{
  //     width: 39%;
  // }
  .rslides img{
    height: 271px;

  }

}


}//query
